.recipe-details-container {
  width: 1200px; 
  margin: 80px auto; 
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: relative;
  align-items: center;
  justify-content: center;
}

.back-button {
  position: absolute;
  top: 35px;
  left: 5px;
  background: #f8c519;
  color: rgb(10, 52, 16);
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.back-button:hover {
  background: #f8c419d7;
}

.recipe-details-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.recipe-details-image {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  margin: 0 auto 15px;
  display: block;
}

.recipe-details-summary {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.recipe-details-section {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.recipe-details-ingredients,
.recipe-details-instructions {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

.recipe-details-ingredients ul {
  padding-left: 20px;
}

.recipe-details-ingredients li {
  margin-bottom: 5px;
}

.recipe-details-instructions p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .recipe-details-container {
    width: 90%;
    margin-top: 100px;
  }
  .back-button{
    top: 0px;
    left: 10px;
  }
  .recipe-details-title{
    margin-top: 50px;
  }
  .recipe-details-image{
    width: 90%;
  }
}
